body {
  background-image: url('images/background-image.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: beige;
  padding: 20px 0;
  text-align: center;
  height: 60vh;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: beige;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 50px 0;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
}

section {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  color:beige;
}

p {
  color: beige;
  text-align: center;
}

.projects {
display: block;
flex-wrap: wrap;
width: 150px;

}

.project-list {
  display: flex;
  color: beige;
  justify-content: center;


}

.project {
  color: ivory;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 81px rgba(169, 11, 213, 0.371);
  width: 50%;
  text-align: center;
  background-image: url('images/background-image.jpg');
}



#contact p {
  font-size: 1.2em;
}

a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: beige !important;
  background-color: #ff84000f;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none !important;

}

a:hover {
  background-color: #b33000b9;
}

 h2 {

  text-align: center;
  padding: 20px 0;
 }

 h3 {
  color: white;
  text-align: center;
  padding: 20px 0;
 }

 .carousel-item {
  color: rgb(241, 241, 154) !important;
  background-color: rgba(133, 25, 228, 0.096);
 }

 #CV {
  text-align: center;

 }

 footer {
  margin-top: auto; /* Pousse le footer vers le bas */
  text-align: center; /* Centre le texte */
  padding: 20px; /* Ajoute un peu d'espace */
}

.footer-links a {
  margin: 0 10px; /* Espace entre les icônes */
  color: beige; /* Couleur des icônes */
  text-decoration: none; /* Enlève le soulignement */
}

.footer-copyright {
  margin-top: 10px; /* Espace au-dessus du texte de copyright */
}

.photo-profil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  box-shadow: 0 8px 81px rgba(167, 39, 199, 0.296);

}

.project-image {
  width: 200px;
}

.App {
  margin: bottom;
  padding-bottom: 10px;

}
